@import "normalize.css";

* {
  padding: 0;
  margin: 0;
}

:root {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  list-style: none;
}