<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqut.ktp.mapper.PermissionMapper">
    <select id="selectPermission" resultType="com.cqut.ktp.pojo.Permission">
        select pid, pname from permisson;
    </select>
</mapper>